<app-header titulo="                                                                                
Input de Examen - Primer Parcial"></app-header>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de Input - Examen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input label-placement="floating" fill="solid" label="Entrada de texto" placeholder="Ingrese el texto"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label-placement="floating" fill="solid" label="Entrada de numero" type="number" placeholder="000"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label-placement="floating" fill="solid" label="Entrada de contraseña" type="password" value="password"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label-placement="floating" fill="solid" label="Entrada de Email" type="email" placeholder="robeth.huishal@ug.edu.ec"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label-placement="floating" fill="solid" label="Entrada de telefono" type="tel" placeholder="+593969136679"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label-placement="floating" fill="solid" label="Entrada de Direccion" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label-placement="floating" fill="solid" label="Entrada de edad" type="number" placeholder="24"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
